<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>게시판 - 글쓰기</title>
  </head>
<body>
<div class="container">
  <form action="boards/post" method="post">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label"><strong>제목</strong></label>
      <div class="col-sm-10">
        <input type="text" name="title" class="form-control" id="title" />
      </div>
    </div>
    <div class="form-group row">
      <label for="content" class="col-sm-2 col-form-label"><strong>내용</strong></label>
      <div class="col-sm-10">
        <textarea type="text" name="content" class="form-control" id="content"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">
        <button type="button" class="btn btn-outline-primary me-2" onclick="location.href='/boards/list'">글쓰기</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>